/* /public/css/styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url('/images/truck.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  margin: 20px 0;
}

header img {
  width: 270px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d71920;
}

form label {
  display: block;
  margin-top: 10px;
  color: #d71920;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #d71920;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #d71920;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d71920;
}

#viewMaintenances, #downloadPdf {
  background-color: #d71920;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

#viewMaintenances:hover, #downloadPdf:hover {
  background-color: #d71920;
}

#backToIndex {
  background-color: #d71920;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

#backToIndex:hover {
  background-color: #d71920;
}
